// ================ VARIABLES ======================

$backgroundColour:   #3E454C;
$controlsColour:     #2185C5;
$activeColour:       #7ECEFD;
$textColour:         #FFF6E5;
$attentionColour:    #FF7F66;
$shadowColour:       rgba(0, 0, 0, 0.25);

$normalFont:         'Lato', sans-serif;
$boldFont:           'Lato', sans-serif;

$letterSpacing:     0.1em;

$innerWidth:         600px;

$smallButtonSize:    60px;
$largeButtonSize:    80px;

$defaultPadding:     10px;



// ================ MIXINS ======================

@mixin mobileBreakpoint {
	@media screen and (max-width: 570px) {
		@content;
	}
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
	}

	@-moz-keyframes $animation-name {
		@content;
	}

	@-ms-keyframes $animation-name {
		@content;
	}

	@-o-keyframes $animation-name {
		@content;
	}

	@keyframes $animation-name {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation:    #{$str};
	-ms-animation:     #{$str};
	-o-animation:      #{$str};
	animation:         #{$str};
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition:    $args;
	-ms-transition:     $args;
	-o-transition:      $args;
	transition:         $args;
}

@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow:    $args;
	-ms-box-shadow:     $args;
	-o-box-shadow:      $args;
	box-shadow:         $args;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform:    $transforms;
	-ms-transform:     $transforms;
	-o-transform:      $transforms;
	transform:         $transforms;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:    $values;
	-webkit-flex:     $values;
	-ms-flex:         $values;
	flex:             $values;
}



// ================ MAIN ======================

html, body {
	height: 100%;
}

body {
	background: $backgroundColour;
	color: $textColour;
	font-family: $normalFont;
	letter-spacing: $letterSpacing;

	h1, h2, h3, h4, h5 {
		font-weight: bold;
		font-family: $boldFont;
	}

	button {
		cursor: pointer;
		padding: 0;
		font-family: $normalFont;
		letter-spacing: $letterSpacing;
	}

	.selfClearing {
		*zoom: 1;

		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		};
	}

	.main {
		display: block;
		min-height: 100%;
		width: 100%;
	}

	#controlsArea {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;

		#controls {
			color: $textColour;
			background: $controlsColour;
			max-height: 0;
			overflow: hidden;
			@include transition(all 1s);
			@include box-shadow(0px 5px 10px 0px $shadowColour);

			&.active {
				max-height: 800px;
			}

			.inner {
				padding: ($defaultPadding * 2) ($defaultPadding * 2) ($defaultPadding * 4);
				max-width: $innerWidth;
				margin: 0 auto;

				p {
					margin-bottom: ($defaultPadding * 1.5);
					line-height: 1.4em;
				}

				.filter {
					margin-top: ($defaultPadding * 3);

					@include mobileBreakpoint {
						@include flexbox();
						justify-content: center;
						flex-flow: row wrap;

						button {
							margin-bottom: $defaultPadding;
						}
					}

					button {
						width: $smallButtonSize;
						height: $smallButtonSize;
						background: $controlsColour;
						color: $textColour;
						border: none;
						@include transition(all 0.5s);
						margin-right: $defaultPadding;

						&:hover {
							background: $activeColour;
							color: $controlsColour;
							@include box-shadow( 0px 3px 10px 0px $shadowColour);
						}

						&.active {
							background: $attentionColour;
							color: $textColour;
							@include box-shadow(0px 3px 10px 0px $shadowColour);
						}

						&:last-child {
							margin-right: none;
						}
					}

					&.large button {
						width: $largeButtonSize;
						height: $largeButtonSize;

						.fa {
							display: block;
							margin-bottom: $defaultPadding;
						}
					}

					&.small button {
						font-size: 0.7em;
					}
				}
			}
		}

		#controlsToggle {
			$toggleWidth: 150px;
			$toggleHeight: 45px;

			width: $toggleWidth;
			height: $toggleHeight;
			position: relative;
			left: 50%;
			margin-left: -0.5 * $toggleWidth;
			background: $controlsColour;
			color: $textColour;
			border: none;
			@include transition(all 0.5s);
			@include box-shadow(0px 5px 10px 0px $shadowColour);

			.fa {
				margin-right: $defaultPadding;
				font-size: 1.2em;
				@include transition(all 0.3s);
			}

			&.active {
				.fa {
					@include transform(rotate(180deg));
				}
			}
		}
	}

	#results {
		margin: 55px 5px 70px;
		@include flexbox();
		flex-wrap: wrap;
		justify-content: center;

		@include mobileBreakpoint {
			margin-bottom: 15px;
		}

		.film {
			$filmWidth: 165px; /* 185px */
			$filmHeight: 248px;

			display: block;
			float: left;
			width: $filmWidth;
			height: $filmHeight;
			@include flex(none);
			margin: 7px; /* $defaultPadding; */
			@include mobileBreakpoint {
				margin: 4px;
			}

			.flipper {
				display: block;
				width: $filmWidth;
				height: $filmHeight;
				position: relative;
				@include transition(all 0.5s);
				transform-style: preserve-3d;
				@include box-shadow(0px 5px 10px 0px $shadowColour);
			}

			&:hover .flipper {
				@include transform(rotateY(180deg));
			}

			.poster {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: $textColour;
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				backface-visibility: hidden;
			}

			.detail {
				position: absolute;
				top: 0;
				background-color: $attentionColour;
				color: $textColour;
				width: 100%;
				height: 100%;
				overflow: hidden;
				@include transform(rotateY(180deg));
				backface-visibility: hidden;

				.inner {
					padding: $defaultPadding;
					@include flexbox();
					flex-wrap: wrap;
					height: 100%;

					h1 {
						height: 2.1em;
						overflow: hidden;
						text-align: center;
						align-self: flex-start;
						width: 100%;
					}

					.showings {
						max-height: 138px;
						align-self: center;
						width: 100%;

						.showing {
							margin-bottom: $defaultPadding;
							font-size: 0.8em;
							letter-spacing: $letterSpacing;

							h2 {
								margin-bottom: ($letterSpacing * 2);
							}
						}
					}

					.attributes {
						align-self: flex-end;
						width: 100%;
						padding-bottom: $defaultPadding;

						.attribute {
							display: block;
							float: left;
							text-align: center;
							padding: $defaultPadding 0;
							width: 32%;
							letter-spacing: ($letterSpacing / 2);

							.fa {
								display: block;
								margin-bottom: ($defaultPadding / 2);
							}
						}

						a {
							color: #FFF;

							.attribute {
								width: 50%;
							}
						}
					}
				}
			}
		}
	}

	.fillPage {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font-size: 3em;
		@include flexbox();
		align-items: center;
		justify-content: center;
		text-shadow: 0px 5px 10px $shadowColour;
	}

	.spin {
		@include animation(spin 5s infinite ease);
	}

	footer {
		background: $controlsColour;
		padding: $defaultPadding 0;
		text-align: center;
		font-size: 0.7em;
		position: fixed;
		bottom: 0;
		width: 100%;
		line-height: 1.7em;
		@include box-shadow(0px -5px 10px 0px $shadowColour);

		a:link, a:visited, a:hover, a:active {
			color: $attentionColour;
			text-decoration: none;
			font-weight: bold;
		}

		a:hover, a:active {
			text-decoration: underline;
		}

		.divider {
			margin: 0 ($defaultPadding / 2);
			color: $activeColour;
		}

		.tmdb {
			display: block;
			padding: 0 ($defaultPadding * 2);
		}

		@include mobileBreakpoint {
			position: static;

			.divider {
				display: none;
			}

			.item {
				display: block;
			}
		}
	}
}

@include keyframes(spin) {
	0%   { @include transform(rotateY(0deg)); }
	100% { @include transform(rotateY(360deg)); }
}