body {
  background: #AD0000; }
  body h1, body h2, body h3, body h4, body h5 {
    font-weight: bold; }
  body button {
    cursor: pointer; }
  body .selfClearing {
    *zoom: 1; }
    body .selfClearing:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  body #controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #FFF;
    z-index: 20;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    height: 400px;
    margin-top: -400px;
    transition: all 0.5s; }
    body #controls.active {
      margin-top: 0; }
    body #controls #controlsToggle {
      width: 100px;
      position: relative;
      top: 400px;
      left: 50%;
      margin-left: -50px; }
    body #controls .inner {
      padding: 10px 20px;
      max-width: 600px;
      margin: 0 auto; }
      body #controls .inner .filter {
        margin: 20px 0; }
        body #controls .inner .filter span {
          display: inline-block;
          width: 80px; }
        body #controls .inner .filter button {
          border: 1px solid red; }
          body #controls .inner .filter button.active {
            border: 1px solid green; }
  body #results {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body #results .film {
      display: block;
      float: left;
      width: 165px;
      /* 185px */
      height: 248px;
      background-color: #CCC;
      margin: 7px;
      /* 10px; */
      -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
      flex: none; }
      body #results .film:hover .poster {
        padding-bottom: 0; }
      body #results .film:hover .detail {
        display: block; }
      body #results .film .poster {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #AAA;
        display: block;
        width: 100%;
        height: 100%; }
      body #results .film .detail {
        display: none;
        position: relative;
        background-color: rgba(0, 0, 0, 0.7);
        color: #FFF;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        body #results .film .detail .inner {
          padding: 10px; }
          body #results .film .detail .inner a {
            color: #FFF; }
