html, body {
  height: 100%; }

body {
  background: #3E454C;
  color: #FFF6E5;
  font-family: 'Lato', sans-serif; }
  body h1, body h2, body h3, body h4, body h5 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif; }
  body button {
    cursor: pointer;
    padding: 0; }
  body .selfClearing {
    *zoom: 1; }
    body .selfClearing:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  body .main {
    display: block;
    min-height: 100%;
    width: 100%;
    position: absolute; }
  body #controlsArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20; }
    body #controlsArea #controls {
      color: #FFF;
      background: #2185C5;
      max-height: 0;
      overflow: hidden;
      transition: all 1s; }
      body #controlsArea #controls.active {
        max-height: 500px; }
      body #controlsArea #controls .inner {
        padding: 20px;
        max-width: 600px;
        margin: 0 auto; }
        body #controlsArea #controls .inner p {
          margin-bottom: 10px; }
        body #controlsArea #controls .inner .filter {
          margin-top: 20px; }
          body #controlsArea #controls .inner .filter button {
            width: 50px;
            height: 50px;
            background: #2185C5;
            color: #FFF6E5;
            border: none;
            transition: all 0.5s;
            margin-right: 10px; }
            body #controlsArea #controls .inner .filter button:hover {
              background: #7ECEFD;
              color: #2185C5; }
            body #controlsArea #controls .inner .filter button.active {
              background: #FF7F66;
              color: #FFF6E5; }
            body #controlsArea #controls .inner .filter button:last-child {
              margin-right: none; }
          body #controlsArea #controls .inner .filter.large button {
            width: 80px;
            height: 80px; }
            body #controlsArea #controls .inner .filter.large button .fa {
              display: block;
              margin-bottom: 10px; }
    body #controlsArea #controlsToggle {
      width: 140px;
      height: 45px;
      position: relative;
      left: 50%;
      margin-left: -70px;
      background: #2185C5;
      color: #FFF6E5;
      border: none;
      transition: all 0.5s; }
      body #controlsArea #controlsToggle .fa {
        margin-right: 10px;
        font-size: 1.2em;
        transition: all 0.3s; }
      body #controlsArea #controlsToggle.active .fa {
        transform: rotate(180deg); }
  body #results {
    margin: 55px 5px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body #results .film {
      display: block;
      float: left;
      width: 165px;
      /* 185px */
      height: 248px;
      background-color: #CCC;
      margin: 7px;
      /* 10px; */
      flex: none; }
      body #results .film:hover .poster {
        padding-bottom: 0; }
      body #results .film:hover .detail {
        display: block; }
      body #results .film .poster {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #AAA;
        display: block;
        width: 100%;
        height: 100%; }
      body #results .film .detail {
        display: none;
        position: relative;
        background-color: #7ECEFD;
        color: #2185C5;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        body #results .film .detail .inner {
          padding: 10px; }
          body #results .film .detail .inner h1 {
            height: 2em;
            margin-bottom: 0.5em;
            overflow: hidden;
            text-align: center; }
          body #results .film .detail .inner .showings {
            height: 138px;
            overflow: hidden; }
            body #results .film .detail .inner .showings .showing {
              margin-bottom: 10px; }
              body #results .film .detail .inner .showings .showing h2 {
                margin-bottom: 0.2em; }
          body #results .film .detail .inner .attributes .attribute {
            display: block;
            float: left;
            text-align: center;
            padding: 10px 0;
            width: 32%; }
            body #results .film .detail .inner .attributes .attribute .fa {
              display: block;
              margin-bottom: 5px; }
          body #results .film .detail .inner .attributes a {
            color: #FFF; }
            body #results .film .detail .inner .attributes a .attribute {
              width: 50%; }
  body .fillPage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center; }
  body footer {
    background: #2185C5;
    padding: 20px 0;
    text-align: center;
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100%; }
    body footer a:link, body footer a:visited, body footer a:hover, body footer a:active {
      color: #FF7F66; }
    body footer .divider {
      margin: 0 5px;
      color: #7ECEFD; }
