$backgroundColour:   #3E454C;
$controlsColour:     #2185C5;
$activeColour:       #7ECEFD;
$textColour:         #FFF6E5;
$attentionColour:    #FF7F66;
$normalFont:         'Lato', sans-serif;
$boldFont:           'Lato', sans-serif;

html, body {
	height: 100%;
}

body {
	background: $backgroundColour;
	color: $textColour;
	font-family: $normalFont;
	letter-spacing: 0.1em;

	h1, h2, h3, h4, h5 {
		font-weight: bold;
		font-family: $boldFont;
	}

	button {
		cursor: pointer;
		padding: 0;
		font-family: $normalFont;
		letter-spacing: 0.1em;
	}

	.selfClearing {
		*zoom: 1;

		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		};
	}

	.main {
		display: block;
		min-height: 100%;
		width: 100%;
		position: absolute;
	}

	#controlsArea {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;

		#controls {
			color: #FFF;
			background: $controlsColour;
			max-height: 0;
			overflow: hidden;
			transition: all 1s;

			&.active {
				max-height: 500px;
			}

			.inner {
				padding: 20px;
				max-width: 600px;
				margin: 0 auto;

				p {
					margin-bottom: 10px;
				}

				.filter {
					margin-top: 20px;

					button {
						width: 60px;
						height: 60px;
						background: $controlsColour;
						color: $textColour;
						border: none;
						transition: all 0.5s;
						margin-right: 10px;

						&:hover {
							background: $activeColour;
							color: $controlsColour;
						}

						&.active {
							background: $attentionColour;
							color: $textColour;
						}

						&:last-child {
							margin-right: none;
						}
					}

					&.large button {
						width: 80px;
						height: 80px;

						.fa {
							display: block;
							margin-bottom: 10px;
						}
					}
				}
			}
		}

		#controlsToggle {
			$toggleWidth: 150px;

			width: $toggleWidth;
			height: 45px;
			position: relative;
			left: 50%;
			margin-left: -0.5 * $toggleWidth;
			background: $controlsColour;
			color: $textColour;
			border: none;
			transition: all 0.5s;

			.fa {
				margin-right: 10px;
				font-size: 1.2em;
				transition: all 0.3s;
			}

			&.active {
				.fa {
					transform: rotate(180deg);
				}
			}
		}
	}

	#results {
		margin: 55px 5px 70px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.film {
			display: block;
			float: left;
			width: 165px; /* 185px */
			height: 248px;
			background-color: #CCC;
			margin: 7px; /* 10px; */
			flex: none;
			position: relative;

			&:hover .poster {
				padding-bottom: 0;
			}

			&:hover .detail {
				display: block;
			}

			.poster {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #AAA;
				display: block;
				width: 100%;
				height: 100%;
			}

			.detail {
				display: none;
				position: absolute;
				top: 0;
				background-color: $attentionColour;
				color: $textColour;
				width: 100%;
				height: 100%;
				overflow: hidden;

				.inner {
					padding: 10px;

					h1 {
						height: 2.1em;
						margin-bottom: 0.5em;
						overflow: hidden;
						text-align: center;
					}

					.showings {
						height: 138px;
						overflow: hidden;

						.showing {
							margin-bottom: 10px;
							font-size: 0.8em;
							letter-spacing: 0.05em;

							h2 {
								margin-bottom: 0.2em;
							}
						}
					}

					.attributes {
						.attribute {
							display: block;
							float: left;
							text-align: center;
							padding: 10px 0;
							width: 32%;
							letter-spacing: 0.05em;

							.fa {
								display: block;
								margin-bottom: 5px;
							}
						}

						a {
							color: #FFF;

							.attribute {
								width: 50%;
							}
						}
					}
				}
			}
		}
	}

	.fillPage {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font-size: 3em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	footer {
		background: $controlsColour;
		padding: 12px 0;
		text-align: center;
		font-size: 0.7em;
		position: fixed;
		bottom: 0;
		width: 100%;
		line-height: 1.7em;

		a:link, a:visited, a:hover, a:active {
			color: $attentionColour;
		}

		.divider {
			margin: 0 5px;
			color: $activeColour;
		}

		@media screen and (max-width: 570px) {
			.divider {
				display: none;
			}

			.item {
				display: block;
			}
		}
	}
}